
<div class="navbar-header">
  <h1> Ideator </h1>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
<ul>
  <li>  <a class="navbar-brand" href="/">About</a> </li>
  <li>  <a class="navbar-brand" href="/">Inspire Me</a> </li>
  <li>  <a class="navbar-brand" href="/">All Ideas</a> </li>
  <li><a class="navbar-brand" href="/">Ideator</a></li>
  </ul>
  </div><!-- navbar-header -->
